.tracking-overlay
{
    /* background: url('../../assets/target.png'); */
    position: absolute;
    top: -10;
    left: -10;
    width: 3px;
    height: 3px;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#fff;
}
